사내 메시지 서비스를 만들어보자

로그인, 회원가입, 로그아웃 기능이 있다.

직원끼리 메시지를 주고받을 수 있다. 여러 명에게 한번에 메시지를 줄 수도 있다.

메시지가 전송되면 메시지 보관함에 저장된다. 직원들은 자신의 메시지 보관함을 열람해 메시지 목록을 볼 수 있다.

답장도 보낼 수 있다. 답장을 보낼 시, 어떤 메시지에 대한 답장인지도 알 수 있어야 한다.

메시지를 수정, 삭제할 수도 있으며, 아무도 읽지 않은 메시지에 대해서만 수정, 삭제를 할 수 있다.과제에서 비즈니스 로직을 전부 추출해 정리한다.

해당 비즈니스 로직을 통해 DB를 설계한다.

ERD를 작성한다.

API 설계를 작성한다.

제출 목록

- 코드
- 비즈니스 로직 목록
- ERD
- API 설계 문서